<div class="col-sm-3">
    <h3>BURGERS!</h3>


    <ul>
        {{#each burger}}
        <br> {{#unless this.devoured}}
        <br>
        <li>{{this.BurgerName}}</li>
        <br>
        <button class="btn-EatBurger" data-id={{this.Burger_ID}}>Devour!</button>
        {{/unless}} {{/each}}
    </ul>
</div>



<div class="col-sm-6">
    <h3>Your Burger here</h3>
    <div id="burgerNew">
        <form class="text-center">
            <input type="text" class="form-control text-center" id="BurgerName" name="Burger Name"><br>
            <button class="btn btn-success" id="BurgerNew">CREATE!</button>
        </form>
    </div>
</div>





<div class="col-sm-3">
    <h3>Burger Info</h3>
    <ul>
        {{#each burgers}} {{#if this.devoured}}<br><br>
        <li>{{this.BurgerName}}</li>
        <br> {{/if}} {{/each}}
    </ul>
</div>