<div class="col-sm-3">
    <h3>BURGERS!</h3>


    <ul>
        {{#each burgers}}
        <br> {{#unless this.devoured}}
        <br>
        <li>{{this.BurgerName}}</li>
        <br>
        <button class="btn EatBurger" data-id={{this.id}}>Eat The Burger!</button>
        {{/unless}} {{/each}}
    </ul>
</div>


//button to create new burger
<div class="col-sm-6">
    <h3>Your Burger here</h3>
    <div id="burgerNew">
        <form class="text-center">
            <input type="text" class="form-control text-center" id="BurgerName" name="BurgerName"><br>
            <button class="btn btn-succes" id="BurgerNew">CREATE!</button>
        </form>
    </div>
</div>




//moving burger after devoured
<div class="col-sm-3">
    <h3>Burger Info</h3>
    <ul>
        {{#each burgers}} {{#if this.devoured}}<br><br>
        <li>{{this.BurgerName}}</li>
        <br> {{/if}} {{/each}}
    </ul>
</div>